<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {

        {% for r in rounds %}

            var socket{{ r.id }} = io.connect('http://' + document.domain + ':' + location.port + '/round{{ r.id }}');

            socket{{ r.id }}.on('connect', function () {
                $("#log").append('Conectado para monitorizacion de rueda {{ r.id }}<br>');
            });

            socket{{ r.id }}.on('end_round', function(msg) {
                $('#clock{{ r.id }}').css("color", "green");
                $('#log').append("<span style='color:blue'>"+msg.data+"</span><br>");
            });

            socket{{ r.id }}.on('init_stage', function(msg) {
                $('#clock{{ r.id }}').fadeOut('fast').fadeIn('fast', function () {
                    $('#vuelta{{ r.id }}').text(msg.num_rerun);
                });
            });

            socket{{ r.id }}.on('aborted', function(msg) {
                $('#clock{{ r.id }}').css("color", "red");
                $('#clock{{ r.id }}').text("EVALUACIÓN ABORTADA");
            });

            socket{{ r.id }}.on('tic_tac', function(msg) {
                $('#clock{{ r.id }}').text(msg.stage + " " + msg.minutes + ":" + msg.seconds);

                if (msg.stopped == 'S') {
                    $('#clock{{ r.id }}').css("color", "red");
                    $('#log').append("<span style='color:red'>"+instant(msg.minutes, msg.seconds)+" Crono parado</span><br>");
                }
                else
                    $('#clock{{ r.id }}').css("color", "black");
            });

        {% endfor %}
    });
</script>

<body>
    {% for r in rounds %}

        <div><h1>Rueda {{ r.id }} (vuelta <span id="vuelta{{ r.id }}"></span>): <span id="clock{{ r.id }}">--:--</span></h1></div>

    {% endfor %}
    <br>
    <div id="log"></div>
</body>